*/.env
*/__pycache__
*/.pytest_cache
*/.coverage
*/.DS_Store
*/.vscode
*/.idea
*/.gitignore
*/.gitattributes
*/.gitmodules
*/.gitkeep
*/.git
*/.hgignore
*/.hgsub
*/.hgsubstate
*/.hgtags
*/.hg
*/.svn
*/.cache
*/.project
*/.settings
*/.classpath
*/.factorypath
*/.history
*/.tmproj
*/.esproj
*/.eslintrc
*/.eslintignore
*/.stylelintrc
*/.stylelintignore
*/.prettierrc
*/.prettierignore
*/.editorconfig
*/.jshintrc
*/.flowconfig
*/.documentup.json
*/.yarn-metadata.json
*/.npmignore
*/.npmrc
*/.yardopts
*/.ruby-version
*/.ruby-gemset
*/.ruby-gemset*
*/.ruby-version*
*/.rvmrc
*/.watchmanconfig
*/.mailmap
*/.gitlab-ci.yml
*/.travis.yml
*/.gitlab
*/.gitlab-ci
*/.gitlab-ci.yml
*/.gitlab-ci.yml.*
*/.gitlab-ci.yml*